<h1><%= @name %>, thank you for your interest!</h1>

<p>
  My resume you requested is attached. I look forward to working with you!
</p>

<footer>
  Respectfully, 
  Steven Riggs
  <%= ENV['EMAIL'] %>
</footer>
